

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-image: url(./assets/weatherImg.jpg);
    
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
  }
}




.bg-clear {
  background-image: url("./assets/cloudy.jpg");
}

.bg-clear-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-partly-cloudy {
  background-image: url("./assets/cloudy.jpg");
}

.bg-partly-cloudy-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-cloudy {
  background-image: url("./assets/cloudy.jpg");
}

.bg-cloudy-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-rainy {
  background-image: url("./assets/cloudy.jpg");
}

.bg-rainy-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-thunderstorm {
  background-image: url("./assets/cloudy.jpg");
}

.bg-thunderstorm-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-snowy {
  background-image: url("./assets/cloudy.jpg");
}

.bg-snowy-night {
  background-image: url("./assets/cloudy.jpg");
}

.bg-foggy {
  background-image: url("./assets/cloudy.jpg");
}

.bg-foggy-night {
  background-image: url("./assets/cloudy.jpg");
}