

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-image: url(./assets/default_after.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.bg-clear {
  background-image: url("./assets/clear_after.jpg");
}

.bg-clear-night {
  background-image: url("./assets/clear-night_after.jpg");
}

.bg-cloudy-partial {
  background-image: url("./assets/cloudy-partial_after.jpg");
}

.bg-cloudy-partial-night {
  background-image: url("./assets/cloudy-partial-night_after.jpg");
}

.bg-cloudy-partial2 {
  background-image: url("./assets/cloudy-partial2_after.jpg");
}

.bg-cloudy-partial2-night {
  background-image: url("./assets/cloudy-partial2-night_after.jpg");
}

.bg-cloudy {
  background-image: url("./assets/cloudy_after.jpg");
  transition: background-color 0.5s ease;

}

.bg-cloudy-night {
  background-image: url("./assets/cloudy-night_after.jpg");
}

.bg-drizzle {
  background-image: url("./assets/drizzle_after.jpg");
}

.bg-drizzle-night {
  background-image: url("./assets/drizzle-night_after.jpg");
}

.bg-rainy {
  background-image: url("./assets/rainy_after.jpg");
  transition: background-color 0.5s ease;

}

.bg-rainy-night {
  background-image: url("./assets/rainy-night_after.jpg");
}

.bg-thunderstorm {
  background-image: url("./assets/thunderstorm_after.jpg");
}

.bg-thunderstorm-night {
  background-image: url("./assets/thunderstorm-night_after.jpg");
}

.bg-snowy {
  background-image: url("./assets/snowy_after.jpg");
}

.bg-snowy-night {
  background-image: url("./assets/snowy-night_after.jpg");
}

.bg-foggy {
  background-image: url("./assets/foggy_after.jpg");
}

.bg-foggy-night {
  background-image: url("./assets/foggy-night_after.jpg");
}